<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paddy Crop Disease Prediction</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Paddy Crop Disease Prediction</h1>
    <input type="file" id="imageUpload" accept="image/*" />
    <button onclick="predictDisease()">Predict</button>


    <h3 id="disease"></h3>
    <p id="suggestion"></p>
    <p id="pesticide"></p>

    <script src="crop.js"></script>
  </body>
</html>
